body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    font-size: 150px;

}

.btn{
    color: rgb(0, 0, 0);
    font-size: 100px;
    background-color: rgb(182, 235, 255);
}