.modal {
  display: none;              /* по умолчанию скрыто */
  position: fixed;
  z-index: 1000;
  left: 200px;
  top: 200px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5); /* затемнение фона */
}

.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  width:50vw !important;
  border-radius: 8px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}