.menu{
    width: 100%;
    height: 50px;
    background-color: white;
}

.logotype{
    width: 100%;
    height: 300px;
    background-color: rgb(212, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
header{
    background-color: black;
    position: sticky;
    left: 0;
    top: 0;
}
a:hover{
    color: rgb(203, 203, 203);
}
a:active{
    color: rgb(255, 255, 255);
}
main{
        display: flex;
    justify-content: center;
    align-items: center;
}

.machine{
        display: flex;
    justify-content: center;
    align-items: center;
}

.nihego{
    width: 500px;;
}

img{
margin-right: 100px;
margin-left: 100px;
}

p{
font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: rgb(255 ,255 ,255);
    width: 12%;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 35px;
} */
form, footer{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     background-color: azure; 

}

.blue{
    background-color: azure;
}

input{
    font-size: 35px;
    margin: 15px;
    border-radius: 50px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    background-color: rgb(63, 80, 207);
    color: rgb(255 ,255 ,255);
    width: 30%;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 35px;
    margin-top: 150px;
}

sfr{
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.order{
    color:white;
}

.milion{
    color:rgb(255, 250, 250);
    text-decoration: none;
}
.bilion{
    display:flex;
    justify-content: left;
    list-style: none;
}

.miliard{
    display:flex;
    justify-content: left;
    align-items: center;
}
.trilion{
    margin: 0px 20px;
}
/* header>a{
    color: rgb(80, 80, 80);    
} */
 /* настройки ячейки */
td {
/* граница */
	border:  2px solid #333;
/* высота и ширина ячейки */
	height:  100px;
	width:  100px;
/* выравнивание по центру */
	text-align:  center;
	vertical-align:  middle;
/* настраиваем шрифт */
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
/* меняем вид курсора над ячейкой */
	cursor: pointer;
}

/* настройки всей таблицы */
table {
/* общая граница пусть выглядит как одна */
	border-collapse: collapse;
/* включаем абсолютное позиционирование */
	position: absolute;
/* размещаем таблицу на странице */
	left: 50%;
	margin-left: -155px;
	top: 50px;
}

/* убираем границы снаружи таблицы, чтобы расчертить поле как для крестиков-ноликов */
table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

/* блок с сообщением о конце игры */
.endgame {
/* на старте не показываем */
  display: none;
/* размеры и положение блока */
  width: 200px;
  top: 120px;
  position: absolute;
  left: 50%;
/* цвет фона */
  background-color: rgba(205,133,63, 0.8);
/* настраиваем отступы */
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
/* радиус скругления */
  border-radius: 5px;
/* цвет и размер шрифта */
  color: white;
  font-size: 2em;
}
button{
    color: rgb(255, 255, 255);
    font-size: 40px;
    background-color: rgb(0, 45, 247);
    border-radius: 25px;
}
